{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Enchanted Beauty Bar </title>
    <link rel="stylesheet" href="{% static 'ClientList/css/styles.css' %}">
</head>
<body>
    <div id="root"></div>
    <script crossorigin src ="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src ="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type = "module" src="{% static 'ClientList/js/ClientListDataStruct.js' %}"></script>
    <script type = "module" src="{% static 'ClientList/js/AppointmentListDataStruct.js' %}"></script>
    <script type = "module" src="{% static 'ClientList/js/DoublyLinkedList.js' %}"></script>
    <script type="text/babel" data-type="module" src="{% static 'ClientList/js/scheduler.js' %}"></script>
</body>
</html>